{% extends '::sh_base.html.twig' %}

{% block title %}快修微信-关于我们{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

    {% block body %}
    <!-- 正文开始 -->
		<div class="kx-body" style="min-height:320px">
			<div class="kx-img-big about-us-img "></div>
		</div>
	<!-- 正文结束 -->
	<!-- footer -->
		<div class="footer font-12">
			<p>Copyright&copy;2015 家电快修 All Right Reserved</p>
			<!-- <p>本软件由中梦科技提供技术支持</p> -->
		</div>
	<!-- footer end -->
    {% endblock %}

	{% block footer %}
	{% endblock %}

{% block javascripts %}
{% endblock %}

