/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.idea

/web/image/member/order/*
!web/image/member/order/.gitkeep
!web/image/store/default_store_image.png

.DS_Store
