{% extends '::sh_base.html.twig' %}

{% block title %}快修微信-找回密码{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

    {% block body %}
    <!-- 正文开始 -->
		<div class="kx-body bg-color-light-white">
			<br>
			<div class="horizontal-line"></div>
			<form action="" method="post" class="form-submit">
				<div class="input-area">
					<input class="font-14 phone" placeholder="手机号码" type="text" name="phone">
					<div class="horizontal-line"></div>
					<div class="code-wrap">
					<input class="font-14" placeholder="验  证 码" type="text" name="sms_salt">
					<input class="btn get-verification-code get_code" style="background:#1cafe0;padding-left:0px;width:100px;height:auto;" type="button" value="获取验证码"/>
					<!-- <div class="btn get-verification-code get_code" style="background:#1cafe0;">获取验证码</div> -->
					</div>
					<div class="horizontal-line"></div>
					<input class="font-14" placeholder="密      码" type="password" name="password">
					<div class="horizontal-line"></div>
					<input class="font-14" placeholder="确认密码" type="password" name="confirm_password">
				</div>
				<br>
				<div class="window-btn-wrap margin-10-20p">
					<div class="btn primary-btn width-full">确认修改</div>
				</div>
				{% if error.content is not empty %}
				<div class="error-message">提示：{{ error.content }}</div>
				{% endif %}
		    </form>
		</div>
	<!-- 正文结束 -->
    {% endblock %}

	{% block footer %}
	{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
// 点击修改
$(function(){
	$(".primary-btn").on("click",function(){
		$(".form-submit").submit();
	})
	// 获取验证码
	$(".get_code").click(function(){
	    var phone = $(".phone").val();
	    var btn=$(this);

        $.ajax({
            type: "POST",
            url: "{{ path('zm_store_default_get_phone_salt') }}",
            dataType: 'json',
            data:{
                phone:phone,
                type:4
            },
            success: function(result) {
            	if(result.code == 1){
            		settime(btn);
            	}else{
            		alert(result.message);
            	}               
            }
        })
	}); 
	//倒计时60秒
	var countdown=60;
	function settime(val) {
		if (countdown == 0) {
			val.attr("disabled", false); 
			val.val("重新发送");
			val.css({
				"background":"#1cafe0"
			});
			countdown = 60;
			return false;
		} else {
			val.attr("disabled", true); 
			val.val("正在获取"+countdown);
			val.css({
				"background":"#ccc"
			});
			countdown--;
		}
		setTimeout(function() {
		settime(val)
		},1000)
	}
	
})


</script>
{% endblock %}